<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>BesdpinFI1K1SqISv3VZmVMtLbGFziAZPczZFKsfPjxQhqlUkT</string>
	<key>consumer_Key</key>
	<string>R2iVg3aObiniOHO2Dkh19hGsB</string>
</dict>
</plist>
